<div class="mt-3">
    <div class="flex-column d-flex flex-md-row mx-3" cdkDropListGroup>
        <div class="col-md-3 col-12 mx-2 card mb-2" *ngFor="let card of cards">
            <div cdkDropList [cdkDropListData]="card.items" (cdkDropListDropped)="drop($event)">
                <div class="title">
                    <input class=" col-12 text-center input-outline title my-2" [value]="card.title">
                    <i matTooltip="Excluir card" class="bi bi-trash text-right"></i>
                </div>
                <div cdkDrag class="card-item my-1 mx-2" *ngFor="let item of card.items">
                    <div class="d-flex justify-content-between align-items-center item">
                        <input [value]="item.title" class="pointer">
                        <i class="bi bi-three-dots-vertical  pointer" (click)="openModalItem(item)"></i>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end me-2 mt-3 ">
                <i matTooltip="Adicionar item" matTooltip="Adicionar item" class="bi bi-plus-circle pointer addItem"
                    (click)="createItem(card)"></i>
            </div>
        </div>

        <div>
            <button matTooltip="Adicionar card" class="button-primary p-2" (click)="createCard()"><i
                    class="bi bi-plus-circle"></i></button>
        </div>
    </div>
</div>