@import "./styles/variables.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $bg-color !important;
}

@import 'bootstrap/scss/bootstrap';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./styles/global.scss";
@import "./styles/variables.scss";