$primary-color: #55b3f3;
$primary-color-light: #79c5f8;
$primary-color-dark: #27a7fc;

$bg-color: #F5F8F8;

$white: #FFFFFF;
$danger: #DD0000;
$danger-dark: #af0707;
$danger-light: #f55f5f;
$success: #148A00;
$warning: #FFD912;
$dark: #1A1A1A;
$dark-light: #ACACAC;
