.title {
    font-size: 20px;
    font-weight: bold;

    input {
        border: none;

    }
}

textarea {
    width: 100%;
    padding: 8px 10px;
}

.options{
    // button{
    //     padding: 20px 5px;
    //     border-radius: 50%;
    // }
}